
<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-actions">
  <h2>My list courses</h2>
  <a class="ml-auto" href="/me/trash/courses">
    {{!-- <svg xmlns="http://www.w3.org/2000/svg" class="trash-bin" height="1em" viewBox="0 0 448 512"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg> --}}
    Thùng rác
    ({{deletedCount}})
  </a>

  <div class="mt-4  d-flex align-items-center">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="checkbox-all" />
      <label class="form-check-label" for="checkbox-all">Select all</label>
    </div>

    <select class="form-select form-control-sm checkbox-select-all-options" name="action" required aria-label="Default select example">
      <option selected value="">--- Action ---</option>
      <option value="delete">Delete</option>
      
    </select>
    <button class="btn btn-primary btn-sm check-all-submit-btn disabled">Submit</button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th colspan="1"></th>
        <th scope="col">
          Title 
          <a href="?_sort&column=name&type=desc">
            {{{sortable 'name' _sort}}}
          </a>
        </th>
        <th scope="col">
          Level
          <a href="?_sort&column=name&type=desc">
            {{{sortable 'level' _sort}}}
          </a>
          </th>
        <th scope="col">
          Create at
          <a href="?_sort&column=name&type=desc">
            {{{sortable 'createAt' _sort}}}
          </a>
        </th>
        <td colspan="2"></td>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}" id="" />
            
          </div>
        </td>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a href="/courses/{{this._id}}/edit" class="btn btn-link">Edit</a>
          <a href="" class="btn btn-link" data-bs-toggle="modal" data-id={{this._id}} data-bs-target="#delete-course-modal">Delete</a>
        </td>
      </tr>
      {{else}}
      <tr >
        <td class="text-center" colspan="5">
          You have no course.
          <a href="/courses/create">Create course</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</form>

<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you want to delete?
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-course" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete hidden form -->
<form id="delete-form-course" method="post"> </form>

<script>
  document.addEventListener("DOMContentLoaded", function(){
    var deleteCourseModal = document.getElementById('delete-course-modal')
    var btnDeleteCourse = document.getElementById("btn-delete-course")
    var courseId ;
    var containerForm = document.forms['container-form']
    var deleteForm = document.getElementById("delete-form-course")
    var checkboxAll = $("#checkbox-all")
    var courseItemCheckbox = $('input[name="courseIds[]"]')
    var checkAllSubmitBtn = $('.check-all-submit-btn')

    //when dialog confirm clicked
    deleteCourseModal.addEventListener('show.bs.modal', function (event) {
      var button = event.relatedTarget
      courseId = button.getAttribute("data-id")
    })

    //when delete course btn clicked
    btnDeleteCourse.onclick = function() {
      deleteForm.action = "/courses/" + courseId + "?_method=DELETE"
      deleteForm.submit();
    }

    //Checkbox all clicked
    checkboxAll.on("change", function() {
      var isCheckedAll = ($(this).prop("checked"));
      courseItemCheckbox.prop('checked', isCheckedAll)
      renderCheckAllSubmitBtn()
    })

    //Checkbox item changed
    courseItemCheckbox.change(function(){
      var isCheckAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length;
      checkboxAll.prop('checked', isCheckAll)
      renderCheckAllSubmitBtn()
    })

    //Check all submit button clicked
    checkAllSubmitBtn.on("submit", function(e){
      var isSubmitable = !$(this).hasClass('disabled')
      if(!isSubmitable){
        e.preventDefault();
      }
    })

    //Re-render check all submit
    function renderCheckAllSubmitBtn() {
      var checkCount = $('input[name="courseIds[]"]:checked').length;
      if (checkCount > 0) {
        checkAllSubmitBtn.removeClass('disabled')
      }else{
        checkAllSubmitBtn.addClass('disabled')
      }
    }
  })
</script>